name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit:
    name: PHPUnit unit tests - PHP ${{ matrix.php }}
    strategy:
      matrix:
        php: ['8.4']
        symfony: ['6.0.*', '6.1.*']
        include:
          - symfony: 6.0.*
            composer-flags: --prefer-lowest

          - symfony: 6.1.*
            composer-flags: --prefer-stable
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Download dependencies
        uses: php-actions/composer@v6
        with:
          command: update
          args: --ignore-platform-reqs ${{ matrix.composer-flags }}

      - name: Run PHPUnit unit tests
        run: composer test
